body {
    background-color: #f8f9fa;
    font-family: "Montserrat", sans-serif;
}

.btn-dark-green {
  background-color: #006400; 
  border-color: #006400;
  color: white; 
}
  
.btn-dark-green:hover {
  background-color: #004d00; 
  border-color: #004d00;
}
  
input, textarea, select, button {
  font-family: "Montserrat", sans-serif;
}
  
textarea {
  resize: none;
}